<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All User </title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <script src="https://cdn.tailwindcss.com"></script>

 
</head>
<body>
    <div class="bg-zinc-900  w-full h-full text-white p-10">
        <div class=" bg-zinc-900 pb-10 text-white">
            <div class="nav">
                <a class="text-zinc-600" href="/"> <- BACK TO HOME</a>
            </div>
        </div>
        <h1 class="text-3xl tracking-tighter mb-3"> ALL User</h1>
       
        <div class="users flex flex-wrap gap-3">
            <!-- user 1 -->
            <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 tracking-tighter">Aitisam Ahmed</h3>
                <h5 class="text-zinc-500">aitisam24@gmail.com</h5>
                <div class="flex gap-3 px-3 justify-between mt-7">
                    <a class="text-zinc-300" href="">Edit User</a>
                    <a class="text-red-600" href="">Delete User</a>
                </div>
            </div>
            <!-- user 2 -->
            <div class="user w-72  p-4 bg-zinc-800 rounded-lg">
                <div class="w-full h-52 rounded-lg bg-zinc-700"></div>
                <h3 class="text-xl mt-3 tracking-tighter">Aitisam Ahmed</h3>
                <h5 class="text-zinc-500">aitisam24@gmail.com</h5>
                <div class="flex gap-3 px-3 justify-between mt-7">
                    <a class="text-zinc-300" href="">Edit User</a>
                    <a class="text-red-600" href="">Delete User</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>